<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{#if post.title}} {{meta_title}} | {{@blog.title}}{{else}}{{meta_title}}{{/if}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="shortcut icon" href="{{@blog.logo}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">/-->
    <link rel="stylesheet" href="{{@blog.url}}/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="pure-g-r" id="layout">
        {{! The big featured header on the homepage, with the site logo and description }}
        <div class="sidebar pure-u">
            <header class="header">
                <hgroup>
                    {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
                    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                    <h2 class="blog-description">{{@blog.description}}</h2>
                </hgroup>

                <nav class="nav">
                <ul class="social-list">
                    <li class="social-item"><a class="subscribe icon-twitter" href="http://www.twitter.com/..." target="_blank"></a></li>&nbsp;
                    <li class="social-item"><a class="subscribe icon-facebook" href="http://www.facebook.com/..." target="_blank"></a></li>&nbsp; 
                    <li class="social-item"><a class="subscribe icon-github" href="http://www.github.com/..." target="_blank"></a></li>&nbsp;
                    <li class="social-item">&nbsp;</li>
                    <li class="social-item"><a class="subscribe icon-feed" href="{{@blog.url}}/rss/" target="_blank"></a></li>
                </ul>
                </nav>
                {{! Here one could add a nav.nav containing ul.nav-list and li.nav-item }}
            </header>
            <footer class="footer">
            <div class="twitter-widget" style="margin-left:10%;">
             <a class="twitter-timeline" href="https://twitter.com/marcelloseri" data-widget-id="395942163772473344">Tweets by @marcelloseri</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
             <section class="copyright">&copy; 2013 <a href="{{@blog.url}}">{{@blog.title}}</a></section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></section> 
             <section class="theme"><a href="https://github.com/mseri/purity" target="_blank">Purity</a> is built with <a href="http://purecss.io" target="_blank">PureCSS</a></section>
            </footer>
            
        </div>
        <div class="pure-u-1 container">
            {{! Everything else gets inserted here }}
            {{{body}}}

            
        </div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
